{% extends 'crdMarque/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>Ajoutez votre voiture</h1>
{% if id != '' %}
<form action="/formule1/updatetraitementpilote/{{id}}/" method="post">

    {% else %}
    <form action="/formule1/affichepilote/" method="post">
        {% endif %}

        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="Ajouter le stock"/>


    </form>
    {% endblock %}
</body>
</html>